.intro {
  background-color: rgba(0, 0, 0, 0);
  /*background-image: url("../img/beer.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: center;
  margin-top: 70px;
}

.opacity {
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
}

