@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat&display=swap');

body  {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

.title, .review-title {
  font-family: Montserrat, sans-serif;
}
.title {
  font-size: 2em;
}

.text-description, .title, .review-title {
  font-weight: bold;
}

.review-title {
  font-size: 1.5em;
}

.text-regular {
  margin: 5px 0px;
}

.text-white {
  color: white;
}

.text-description {
  font-size: 1.2em;
}

.intro-small-text {
  font-size: 0.8em;
  color: #d3d3d3;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 1px 5px black;
}

.text-center, .intro-small-text {
  text-align: center;
}

.text-middle {
  margin-top: 0.1em;
}

.text-left {
  text-align: left;
}
